
<nav>
  <div class="site-title">
    <a href="/"><h1>BlogVerse</h1></a>
    <p>Get the best of blogs</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li>
   <div class="about-dd">
    <button class="btn-about-dd"> ABOUT
    </button>
    <div class="about-dd-content">
      <a href="#">about me</a>
      <a href="/about">about the site</a>
    </div>
   </div>
    </li>
    <li id="new_blog"><a href="/blogs/create">Create Blog</a></li>
  </ul>
</nav>