<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  
  

  <div class="about content">
    <h2>About the site</h2>
    <p id="quote">Life lies in learning</p>
    <!-- <img src="right-quote.png" alt="right-quote-mark" height="50px" width="50px"> -->
    <img src="leftquote.jpg" alt="leftquotemark" height="50" width="50" id="img">
    <img src="rightquote.jpg" alt="rightquotemark" height="50" width="50" id="imgright">
    <p id="abt-site-text">
      Welcome to BlogVerse! Here, you'll find a collection of informative and engaging articles covering a wide range of topics.
      From technology and lifestyle to health and travel, we strive to provide valuable insights and inspiration for our readers. 
      Explore our blog and discover thought-provoking content crafted to enrich your knowledge and spark your curiosity.<br> 
      <b>HAPPY READING!</b>
      <br><br>
    </p>
  </div>
  <ul id="blogs-are">
    Our Blogs are
    <li>Original</li>
    <li>Concise</li>
    <li>Written in simple language</li>
    <li>Fact-checked by leading journalists</li>
  </ul>

  
  <%- include("./partials/footer.ejs") %>
</body>
</html>