@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body:not(img){
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: 'Noto Serif', serif;
    }

    
    p, h1, h2, h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* nav & footer styles */
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
    }
    nav ul{
      display: flex;
      justify-content: space-around;
      align-items:flex-end;
      font-size:  20px;
    }
    nav li{
      list-style-type: none;
      margin-left: 20px;
    }
    nav h1{
      font-size: 3em;
    }
    nav p, nav a{
      color: #777;
      font-weight: 300;
    }
    footer{
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    .content{
      margin-left: 20px;
    }

    /* index styles */
    .blogs a{
      display: block;
      margin: 40px 0;
      padding-left: 30px;
      border-left: 6px solid rgb(20, 27, 220);
    }
    .blogs a:hover h3{
      color: crimson;
    }

    .blogs a:visited{
      color:greenyellow;
    }

    /* details styles */
    .details{
      position: relative;
      
    }
    .delete{
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      padding: 8px;
    }
    .delete:hover{
      cursor: pointer;
      box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    }

    /* create styles */
    .create-blog form{
      max-width: 400px;
      margin: 0 auto;
    }
    .create-blog input,
    .create-blog textarea{
      display: block;
      width: 100%;
      margin: 10px 0;
      padding: 8px;
    }
    .create-blog label{
      display: block;
      margin-top: 24px;
    }
    textarea{
      height: 120px;
    }
    .create-blog button{
      margin-top: 20px;
      background: crimson;
      color: white;
      padding: 6px;
      border: 0;
      font-size: 1.2em;
      cursor: pointer;
    }

    
  /* added styles */
  .about-dd {
    float: left;
    overflow: hidden;
  }
  
  .about-dd .btn-about-dd {
    font-size: 20px;
    border: none;
    outline: none;
    color: #777777;
    /* padding: 14px 16px; */
    /* margin-left: 50px; */

    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .about-dd-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
    
  .about-dd-content a {
    float: none;
    color:#777777;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .about-dd-content a:hover {
    background-color: #ddd;
  }

  .about-dd:hover .about-dd-content {
    display: block;
  }

  #abt-site-text{
    font-size: larger;
    
  }

  #blogs-are{
    font-size:larger;
    margin-left:30px;
  }

  #quote{
    font-size:50px;
    text-align: center;
    margin-bottom:50px;
  }

  #img{
    position: absolute;
    top: 220px;
    right: 1000px;
  }

  #imgright{
    position: absolute;
    top: 220px;
    left: 1000px;
  }
  
  
  
  
    